
h1, h2, .skip-main{
    color: #1700FF;


    text-align: center;
}

li a.active {
    font-weight: bold;
    color: #1700FF;
}


/*//////////////////////////////////////*/

/*Center of me photos*/
.me-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;

}





body {
    /*google fonts*/
    font-family: 'Lato';
    background-image: url("../images/background.png")

    
}



/*navigation bar*/
.main-nav {
    display:flex;
    display: -webkit-flex;  
  
    /*getting rid of bullet points in nav*/
    list-style-type: none;
    overflow:hidden;
    text-align: center;
    

}

.main-nav li:first-child {
    margin-right: auto;
}

.main-nav a {
    margin: 10px;
    border-radius: 5px;
    display: block;
    color: black;
    padding: 15px;
    text-decoration: none;
}

.main-nav .logo {
  margin-left: -30px;
}

/* Change the text color to #111 (black) on hover */
li a:hover {
    color: #1700FF;
}

li a:clicked {
    color: #1700FF;
}


/*image gallery using flex*/
.container{
    display: flex;
    flex-wrap: wrap;
    display: -ms-flexbox; /* IE10 */
    -ms-flex-wrap: wrap; /* IE10 */
    -webkit-flex: wrap; /*chrome 21.0 & safari 6.1 */
    justify-content: center;
    align-items: center;
}




/*Let's make it responsive!*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (orientation: portrait) {
    
    /*for me page photo size*/
    .container img {
        height : 150px;
    }

 
    .main-nav {
        font-size: 12px;
        
    }
    

    p {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    /*This is for the footer icons (behance...)*/
    .social {
        list-style-type: none;
        text-align: center;
    }
    .social li {
        display: inline;
    }
    .social i {
        font-size: 200%;
        margin: 1% 5% 7% 4%;
        color:#ffffff;
    }
    .social i:hover {
        color: #1700FF;
    }
    
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
    /*for me page photo size*/
    .container img {
        height : 200px;
    }


    /*for bio paragraph*/
    p {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    /*This is for the footer icons (behance...)*/
    .social {
        list-style-type: none;
        text-align: center;
    }
    .social li {
        display: inline;
    }
    .social i {
        font-size: 270%;
        margin: 1% 5% 7% 4%;
        color:#ffffff;
    }
    .social i:hover {
        color: #1700FF;
    }


   
    
   
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
    /*for me page photo size*/
    .container img {
        height : 250px;
    }

   

    p {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    /*This is for the footer icons (behance...)*/
    .social {
        list-style-type: none;
        text-align: center;
    }
    .social li {
        display: inline;
    }
    .social i {
        font-size: 270%;
        margin: 1% 5% 7% 4%;
        color:#ffffff;
    }
    .social i:hover {
        color: #1700FF;
    }
    
    
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    /*for me page photo size*/
    .container img {
        height : 300px;
        
    }

   

    p {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    /*This is for the footer icons (behance...)*/
    .social {
        list-style-type: none;
        text-align: center;
    }
    .social li {
        display: inline;
    }
    .social i {
        font-size: 270%;
        margin: 1% 5% 7% 4%;
        color:#ffffff;
    }
    .social i:hover {
        color: #1700FF;
    }
  
    
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
 

    p {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }


    /*This is for the footer icons (behance...)*/
    .social {
        list-style-type: none;
        text-align: center;
    }
    .social li {
        display: inline;
    }
    .social i {
        font-size: 270%;
        margin: 1% 5% 7% 4%;
        color:#000000;
    }
    .social i:hover {
        color: #1700FF;
    }

    footer {
        height: 60px;
    }


}




